doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='initial-scale=1, width=device-width')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap')
  if dir == "./build"
    link(rel='stylesheet' href=`${dir}/css/global.css`)
    link(rel='stylesheet' href=`${dir}/css/list.css`)
    script(src= `${dir}/js/jquery.js`)
    script(src= `${dir}/js/client.js`)
    script(src= `${dir}/js/requests.js`)
  else
    script(src= `${dir}/js/start.js`)
ol(class="list" start=1)
  li(onclick="user_action(1)")
  li(onclick="user_action(2)")
  li(onclick="user_action(3)")
  li(onclick="user_action(4)")
  li(onclick="user_action(5)")
  li(onclick="user_action(6)")
  li(onclick="user_action(7)")
  li(onclick="user_action(8)")
  li(onclick="user_action(9)")
  li(onclick="user_action(10)")
.user_action
  input#name(type="text")
  input#email(type="email")
  input#bd(type="date")
  .role
    input#admin(type="radio" name="role" value="admin")
    label(for="admin") admin
    input#user(type="radio" name="role" value="user")
    label(for="user") user
  .status
    input#unconfirmed(type="radio" name="status" value="unconfirmed")
    label(for="unconfirmed") unconf
    input#active(type="radio" name="status" value="active")
    label(for="active") active
    input#blocked(type="radio" name="status" value="blocked")
    label(for="blocked") block
  button#save_changes(onclick="save_changes()") save
  button#news(onclick="open_news()") news
  button#friends(onclick="open_friends()") friends
  button#close_info(onclick="close_info()") close
button#prev(onclick="prev_page()") prev
button#next(onclick="next_page()") next

script.
  update_list()